.header {
    font-size: 2.75rem;
    font-weight: 600;

    margin-bottom: 1.5rem;
}

.links {
    margin-top: 3rem;
    display: flex;
}

.main {
    background-image: url('https://raw.githubusercontent.com/piarenivar/image-repo/main/portfolio/hero-graphic.png');
    background-position: right bottom;
    background-size: 32rem;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    padding-top: 8vh;
}

.tag {
    animation:
        typing 10s steps(100),
        blink-caret .8s ease-in-out infinite;

    border-right: 2px solid #ff4500;

    font-size: 1.5rem;
    letter-spacing: 1px;

    overflow: hidden;

    margin-bottom: 1.5rem;
    padding-right: .25rem;
    max-width: fit-content;

    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #ff4500;
    }
}

.text {
    font-size: 1.1rem;
    max-width: 50vw;
}

@media (max-width: 990px) {
    .main {
        padding-top: 0;
    }

    .tag {
        animation:
            typing 5s steps(60),
            blink-caret .8s ease-in-out infinite;
    }
}

@media (max-width: 576px) {
    .main {
        background-size: 20rem;
        padding-top: 2rem;
    }

    .header {
        font-size: 1.75rem;
    }

    .tag {
        animation:
            typing 3.5s steps(50),
            blink-caret .8s ease-in-out infinite;

        font-size: 1rem;
    }

    .text {
        max-width: 100%;
    }
}