.header {
    font-size: 2.75rem;
    font-weight: 600;

    margin-bottom: 1.5rem;
}

.links {
    margin-top: 3rem;
    display: flex;
}

.main {
    background-image: url('https://raw.githubusercontent.com/piarenivar/image-repo/main/portfolio/hero-graphic.png');
    background-position: right bottom;
    background-size: 40rem;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    padding-top: 8vh;
}

.main a {
    font-size: 1.2rem;
    font-weight: 600;

    margin-right: 1rem;
    padding: .5rem .75rem;
}

.tag {
    animation:
        typing 10s steps(100),
        blink-caret .8s ease-in-out infinite;

    border-right: 2px solid #ff4500;

    font-size: 1.5rem;
    letter-spacing: 1px;

    overflow: hidden;

    margin-bottom: 1.5rem;
    padding-right: .25rem;
    max-width: fit-content;

    white-space: nowrap;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #ff4500;
    }
}

.text {
    font-size: 1.1rem;
    max-width: 50vw;
}

.links a {
    background: none;
    border: none;

    display: flex;
    align-items: center;

    transition: var(--transition);

    margin-right: 1.5rem;
    position: relative;

    height: 3rem;
    width: fit-content;
}

.links a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100rem;
    background: orange;
    width: 3rem;
    height: 3rem;
    transition: all 0.3s ease;
}

.links code {
    position: relative;
}

.links a svg {
    position: relative;
    top: 0;
    margin-left: .75rem;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--color-white);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: var(--transition);
}

.links a:hover:before {
    width: 100%;
    background: #ff4500;
}

.links a:hover svg {
    transform: translateX(0);
}

.links a:active {
    transform: scale(0.95);
}

@media (max-width: 990px) {
    .main {
        padding-top: 0;
    }

    .tag {
        animation:
            typing 5s steps(60),
            blink-caret .8s ease-in-out infinite;
    }
}

@media (max-width: 576px) {
    .main {
        background-size: 20rem;
        padding-top: 2rem;
    }

    .header {
        font-size: 1.75rem;
    }

    .tag {
        animation:
            typing 3.5s steps(50),
            blink-caret .8s ease-in-out infinite;

        font-size: 1rem;
    }

    .text {
        max-width: 100%;
    }
}