@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-primary-gray: rgb(23, 23, 23);
  --color-secondary-gray: rgb(33, 33, 33);

  --color-primary-blue: rgb(12, 14, 18);
  --color-secondary-blue: rgb(18, 21, 25);
  --color-tertiary-blue: #808282;
  --color-accent-orange: #ff4500;

  --color-white: #F9F9F9;

  --color-stop-light-red: #FF4D4D;
  --color-stop-light-yellow: #FBC45F;
  --color-stop-light-green: #19E47E;

  --code-font: 'Source Code Pro', monospace;
  --body-font: 'Poppins', sans-serif;
  --transition: all .2s ease-in-out;
  --transition-bg-color: background-color .2s ease-in-out;
}

::selection {
  background-color: rgb(255, 69, 0, .4);
}

.blue {
  color: #89d7fc;
}

.gold {
  color: goldenrod;
}

.purple {
  color: violet;
}

.yellow {
  color: var(--color-stop-light-yellow);
}

a {
  cursor: pointer;
  text-decoration: none;
}

body,
html {
  background-color: var(--color-primary-blue);
  color: var(--color-white);

  font-family: var(--code-font);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.center-y {
  display: flex;
  align-items: center;
}

#content {
  border-bottom: 1px solid var(--color-secondary-blue);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  height: 92vh;
  width: 100vw;
}

.custom-link {
  background: none;
  border: none;

  display: flex;
  align-items: center;

  font-size: 1.2rem;
  font-weight: 600;

  margin-right: 1.5rem;
  padding: .5rem .75rem;
  position: relative;

  height: 3rem;
  width: fit-content;

  transition: var(--transition);
}

.custom-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100rem;
  background: orange;
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease;
}

.custom-link code {
  position: relative;
}

.custom-link svg {
  position: relative;
  top: 0;
  margin-left: .75rem;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--color-white);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: var(--transition);
}

.custom-link:hover:before {
  width: 100%;
  background: #ff4500;
}

.custom-link:hover svg {
  transform: translateX(0);
}

.custom-link:active {
  transform: scale(0.95);
}

.explorer {
  font-size: .8rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: 0 .5rem;
}

#header {
  border-bottom: 1px solid var(--color-secondary-blue);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 2rem;

  height: 6vh;
  min-height: fit-content;
  width: 100vw;
}

.header-circles {
  border-radius: 100rem;
  cursor: pointer;

  margin-left: .8rem;

  height: .8rem;
  width: .8rem;
}

.hide-height {
  max-height: 0px;
  overflow: hidden;

  transition: max-height .2s ease-in-out;
}

input,
textarea {
  background-color: rgb(128, 128, 128, .4);
  border: none;
  outline: none;
}

input:focus,
textarea:focus {
  outline: .1rem solid var(--color-accent-orange);
}


.loader {
  width: 1.5rem;
  transform-origin: center;
  animation: rotate4 2s linear infinite;
}

.loader-inner {
  fill: none;
  stroke: var(--color-accent-orange);
  stroke-width: 3;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}

main {
  background-color: var(--color-secondary-blue);

  position: absolute;
  top: 10vh;
  left: 16%;

  overflow: scroll;
  padding: 1rem;

  height: 88vh;
  max-height: 88vh;
  width: 84%;
}

#main-nav {
  border-bottom: 1px solid var(--color-secondary-blue);

  height: 4vh;
  width: 100%;

  overflow-x: scroll;
  overflow-y: hidden;
}

#main-nav::-webkit-scrollbar,
main::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

#main-nav a {
  height: 100%;
}

.main-active-link {
  background-color: var(--color-secondary-blue);
  border-top: 1px solid var(--color-accent-orange);
}

.rotate-90 {
  transform: rotate(-90deg);
}

#sidebar {
  border-right: 1px solid var(--color-secondary-blue);

  display: flex;

  height: 100%;
  width: 16%;
  min-width: 16%;
}

.side-active-link {
  background-color: var(--color-secondary-blue);
  border-left: 1px solid var(--color-accent-orange);
}

#side-icons {
  border-right: 1px solid var(--color-secondary-blue);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 4vw;
  min-width: 4vw;
}

#side-icons a {
  color: var(--color-tertiary-blue);
  padding: 2rem 0;
  width: 100%;
}

#side-icons a:hover {
  color: var(--color-white);
  background-color: var(--color-secondary-blue);
}

.side-active-icon {
  color: var(--color-white);
}

.side-active-icon-link {
  border-left: 1px solid var(--color-accent-orange);
}

.side-icons-sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: fit-content;
  width: 100%;
}

#side-nav {
  padding: .5rem 0;

  height: 100%;
  width: 100%;
}

#side-nav button {
  cursor: pointer;

  font-size: .8rem;
  letter-spacing: 1px;
  text-transform: uppercase;

  margin: .5rem;
}

#side-nav button i {
  margin-right: .5rem;
  position: relative;

  transition-property: transoform;
  transition: .2s ease-in-out;
}

.side-nav-links {
  max-height: 500px;
  overflow: hidden;

  transition: max-height .2s ease-in-out;
}

.side-nav-link {
  font-size: .8rem;
  padding: .1rem 1.5rem;
}

.side-nav-link:hover {
  background-color: var(--color-secondary-blue);
}

.side-nav-link img,
.side-nav-link i {
  margin-right: .5rem;
  height: .9rem;
  width: .9rem;
}


.stop-light-green {
  background-color: var(--color-stop-light-green);
}

.stop-light-red {
  background-color: var(--color-stop-light-red);
}

.stop-light-yellow {
  background-color: var(--color-stop-light-yellow);
}

.underline-link {
  background-image: linear-gradient(var(--color-accent-orange), var(--color-accent-orange));
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 0% .1rem;
  color: #ff4500;

  padding-bottom: .3rem;
  transition: var(--transition);
}

.underline-link:hover {
  background-size: 100% .1rem;
}

@media (max-width: 1350px) {
  main {
    left: 20%;
    width: 80%;
  }

  #sidebar {
    width: 20%;
    min-width: 20%;
  }

  #side-icons {
    width: 5vw;
    min-width: 5vw;
  }
}

@media (max-width: 1100px) {
  main {
    left: 24%;
    width: 76%;
  }

  #sidebar {
    width: 24%;
    min-width: 24%;
  }

  #side-icons {
    width: 6vw;
    min-width: 6vw;
  }
}

@media (max-width: 990px) {
  main {
    left: 30%;
    width: 70%;
  }

  #sidebar {
    width: 30%;
    min-width: 30%;
  }
}

@media (max-width: 768px) {
  main {
    left: 8vw;
    width: 92vw;
  }

  #sidebar {
    width: fit-content;
    min-width: fit-content;
  }

  #side-nav {
    display: none;
  }

  #side-icons {
    width: 8vw;
    min-width: 8vw;
  }
}

@media (max-width: 576px) {
  #header {
    padding: 0 1rem;
  }

  #header a {
    font-size: .8rem;
  }

  .header-circles {
    display: none;
  }

  main {
    left: 16vw;
    width: 84vw;
  }

  #side-icons {
    width: 16vw;
    min-width: 16vw;
  }
}